@font-face {
    font-family: 'harry_pregular';
    src: url('Font/harrypotter-webfont.eot');
    src: url('Font/harrypotter-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/harrypotter-webfont.woff2') format('woff2'),
         url('Font/harrypotter-webfont.woff') format('woff'),
         url('Font/harrypotter-webfont.ttf') format('truetype'),
         url('Font/harrypotter-webfont.svg#harry_pregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'darkages_regular';
    src: url('Font/darkages-webfont.eot');
    src: url('Font/darkages-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/darkages-webfont.woff2') format('woff2'),
         url('Font/darkages-webfont.woff') format('woff'),
         url('Font/darkages-webfont.ttf') format('truetype'),
         url('Font/darkages-webfont.svg#darkages_regular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
@font-face {
    font-family: 'starrynight_regular';
    src: url('Font/starrynight-webfont.eot');
    src: url('Font/starrynight-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/starrynight-webfont.woff2') format('woff2'),
         url('Font/starrynight-webfont.woff') format('woff'),
         url('Font/starrynight-webfont.ttf') format('truetype'),
         url('Font/starrynight-webfont.svg#starrynight_regular') format('svg');
    font-weight: normal;
    font-style: normal;
	}	
	
body{
	background-image:url("images/background.jpg");
	background-size:100%;
	padding-right:10%;
	padding-left:10%;
	max-width: 960px;
	min-width: 700px;
	font-family:'harry_pregular','darkages_regular','starrynight_regular';
}

header li{
	display: inline;
	list-style-type: none;
	padding-right: 40px;
	font-size: 25px;
	padding-bottom:10px;
	padding-top:10px;
	margin:0px;
	font-family: 'starrynight_regular';
}

.logo img {
  height: 50px;
  width: auto;
  max-width: 220px;
  height: 144px;
  float:left;
}

figure{
	float:right;
}

header li a{
	text-decoration: none;
	color:#CDC28D; 
}

header li a:hover{
	color: grey;
}

header{
	top: 10px;
	left:15%;
	padding:0px;
	margin: 0px;
}

hr.style2{
  border: 0;
  height: 54px;
  background: url(images/hr2.png) no-repeat top center;
}

hr {
  border: 0;
  height: 54px;
  background: url(images/hr1.png) no-repeat top center;
}

input{border: 5px solid #F2F2F2;
background-color: #CDC28D; 
height: 100px; 
width: 200px;
font-size:25pt;
text-align:center;
font-family: 'starrynight_regular';

}

#footprints{
	position: absolute;
	top: 800px;
	left: 760px;
	opacity:0.8;
}
#movie{background: url(images/Book.jpg);
		   background-size:100%;
		   height: 600px; 
		   width: 900px;
		   margin-left: 20px;
}
figure{
	float:auto;
	margin-left: 50px;
}

.image{float:left;
	   width: 20%;}

.bottom-img {
    float:right;
    width: 20%;
	clear: both;
}


section{
	width: 65%;
	margin: 40px;
	margin-top: 80px;
	margin-bottom: 20px; 
}

.part2{width: 40%;
	   margin-top: 0px;
	   float:left;
	   
}
.part2 a{text-decoration: none;
	     color:#CDC28D
	}

.part2 a:hover{
	color: grey;
}	

article{
	margin: 40px;
	margin-top: 150px;
	padding-bottom:250px;
	border-bottom: solid grey;
}

h3{
	padding:10px;
	margin:10px;
	text-transform: italic;
	font-size: 23px;
	color: #F2F2F2;
}

h2{
	font-size: 80px;
	padding:0px;
	font-family: 'harry_pregular', serif;
	margin-top:30px;
	color:#B6B6B6;
}

h1{
	text-align: center;
	font-family:'darkages_regular';
}

p{
	padding:2px;
	color: #F2F2F2;
	font-size: 18px;
	font-family: 'darkages_regular';
}


h4{
	font-size: 20px;
}

h5{
	font-size:18px;
	color:#F2F2F2;
}

footer .copy {
    color: white;
}

footer .copy p {
    margin-bottom: 0px;
    font-size: 13px;
}

footer .site-links {
    display: inline-block;
    margin-bottom: 0;
}

footer .site-links li {
    float: left;
    list-style-type: none;
}

footer .site-links li a {
    padding: 10px 15px;
    color: white;
    font-size: 15px;
}

footer .site-links li a:hover {
    text-decoration: underline;
}

footer {margin-top: 20px;
		clear: both;
		width: 100%;
		
}